* text=auto eol=lf
*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.sh text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.proto text eol=lf
*.sql text eol=lf
*.dockerfile text eol=lf
*.env text eol=lf
*.toml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.tar binary
*.gz binary
*.br binary
data/hxc_registry.db binary
