go 1.26

use (
	.
	./DocProcessor
	./EventBus
	./LLMOrchestrator
	./Messaging
	./api/v1
	./challenges
	./cmd/hxc-registry
	./containers
	./config
	./discovery
	./pkg/build
	./pkg/hxcregistry
	./recovery
	./security
)
